/* UNIVERSAL */
:root {
    /* Font Sizing */
   --baseFontSize      : 16px;
    --baseLineHeight    : 1.5;
    --headingLineHeight : 1.2;
  
    /* Colors */
    
    --blue: rgb(116, 119, 191);
    --lightBlue: rgb(213, 214, 236);
    --darkBlue: rgb(77, 76, 114);
  
    --green:rgb(129, 201, 143);
    
    --gray: rgb(153, 153, 153);
    --lightGray: rgb(245, 245, 245);
    --font-darkGray: rgb(119, 119, 119);
    --font-black: rgb(55, 55, 55);
    /* Spacing */
    --pad : 1em;
    /* Breakpoints */
    --smallBreakpoint : 600px;
    --largeBreakpoint : 768px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  /* ********************************************************* */
  
  /* GRID SETUP START */
  .grid-area {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "nav"
        "main";
  }
  
  header {
    grid-area: header;
  }
  
  nav {
    grid-area: nav;
  }
  
  main {
    grid-area: main;
  }
  
  @media screen and (min-width: 768px) {
    .grid-area {
      /* grid-template-columns: 55px 1fr; */
      grid-template-areas: 
        "header"
        "main"
        "nav"
      ;
    }
    
  }
  
  /* GRID SETUP END */
  
  /* UTILITY */
  
  .wrapper {
    width: 97%;
    margin: auto;
  }
  
  /* MAIN */
  
  body {
    /* disabled resizing beyond scope of frame */
    max-width: 100%;
    /* removes horizontal scrollbar */
    overflow-x: hidden;
  }
  
  textarea {
    max-width: 100%;
    /* disables horizontal resize on txt box */
    resize: vertical;
  }
  
  canvas {
    /* fills frame with canvas */
    width: 100%;
  }
  
  
  /* HEADER BAR */
  
  header {
    background-color: #7477BF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: #FFF;
  }
  
  header img,
  header svg {
    width: 100px;
    height: 100px;
  }
  
  header img {
    border-radius: 50%;
  }
  
  
  
  
  /* NAVIGATION BAR */
  
  .navigation,
  .navigation ul,
  .navigation li {
    display: flex;
  }
  
  /* -- styling nav container */
  .navigation {
    background-color:#4D4C72;
    justify-content: center;
    width: 100vw;
  }
  
  /* -- styling nav elements */
  .navigation ul {
    justify-content: space-around;
    width: 90%;
    list-style: none;
    padding-left: 0;
  }
  
  /* -- styling icons */
  .navigation svg {
    /* changes fill colour of icons */
    fill: white;
    /* resizes icons */
    width: 55px;
    transition: transform 1s;
  }
  
  .navigation svg:hover {
    transform: scale(1.2);
    transition: fill 0.3s;
    fill: #81C98F;
  }
  
  
  

  
  
  
  
  

  